body{
    margin:0
}

button{
    all: unset;
    display: flex;
    height: 3.3vh;
    border : solid 0.5vh;
    border-radius: 1vh;
    justify-content: center;
    font-size: 1.9vh;
}

button:hover{
    background-color: darkgrey ;
}

.persos{
    height: 20vh;

}
.persos:hover{
    filter: drop-shadow(0 1rem 3rem #ff0000);
}

#scene{
    
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#interface{
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color:grey;
    justify-content: space-around;
}
#dialogue{
    width: 33vw ;
    height: auto;
    background-color: darkgrey;   
}
#characters{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#enemies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#boutons{
    width: 33vw ;
    display: flex;
    flex-direction: column;
}
#affichage_PV{
    display: flex;
}
#affichage_PM{
    display: flex;
}
#affichage_stats{
    display: flex;
    flex-direction: column ;
    width:33vw;
    visibility: hidden;
}
