html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/fond.gif");
    background-size: cover;
}
button{
    all: unset;
    border : solid 0.5vh;
}
button:hover{
    inset: ;
}
.persos{
    width: 20%;
    height: 400px ;
}
.persos:hover{
    filter: drop-shadow(0 1rem 3rem #ff0000);

}


#interface{
    width: 100%;
    position: absolute;
    display: flex;
    background-color:grey;
    bottom: 0;
}
#dialogue{
    width: 30vw ;
    height: auto;
    background-color: darkgrey;
    
}
#boutons{
    width: 30vw ;
    display: flex;
    flex-direction: column;
}
#affichage_PV{
    display: flex;
    flex-direction: row ;
}
#affichage_PM{
    display: flex;
    flex-direction: row ;
}
